.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.container section {
  width: 100%;
}

.hero {
  position: relative;
  height: 90vh;
}

.hero h2 {
  position: relative;
  top: 38%;
  font-size: 5em;
}

/* スクロールダウン */
.scroll {
  position: absolute;
  left: 47.5%;
  bottom: 10%;
}

.scroll span {
  font-size: 1.2em;
}

.scroll span::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  width: 1px;
  background: black;
  opacity: 1;
  animation: scroll 1.8s ease-in-out infinite;
}

@keyframes scroll {
  0% {
    height: 0;
    top: 30px;
    opacity: 0;
  }

  30% {
    height: 25px;
    opacity: 1;
  }

  100% {
    height: 5px;
    top: 15vh;
    opacity: 0;
  }
}

.mission,
.news,
.about {
  margin-top: 13em;
  padding: 3rem;
  border-radius: 10px;
}

.container p {
  line-height: 2rem;
}

/* MISSION */
.mission h2 {
  position: relative;
  font-size: 7rem;
  z-index: 0;
}

.mission h2::before {
  position: absolute;
  top: 15px;
  left: 10px;
  content: "MISSION";
  color: rgb(200, 200, 200);
  z-index: -1;
}

.mission p {
  line-height: 2rem;
}

.mission .title {
  font-size: 2.7rem;
}

.mission .text {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

/* SERVICE */
.service {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.service h2 {
  position: relative;
  font-size: 7rem;
}

.service h2::before {
  position: absolute;
  top: 15px;
  left: 10px;
  content: "SERVICE";
  color: rgb(200, 200, 200);
  z-index: -1;
}

.service p {
  font-size: 1.2rem;
}

.service .images {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.service .images div {
  position: relative;
  width: 300px;
  height: 220px;
  background-color: rgb(172, 172, 172);
  border-radius: 15px;
}

.service .application::after {
  position: absolute;
  top: 100%;
  left: 10%;
  margin-top: 10px;
  content: "素晴らしい会計アプリ";
  font-size: 2rem;
}

.service .consulting::after {
  position: absolute;
  top: 100%;
  left: 10%;
  margin-top: 10px;
  content: "凄いコンサルティング";
  font-size: 2rem;
}

/* NEWS */
.news h2 {
  position: relative;
  font-size: 7rem;
  z-index: 0;
}

.news h2::before {
  position: absolute;
  top: 15px;
  left: 10px;
  content: "NEWS";
  color: rgb(200, 200, 200);
  z-index: -1;
}
